
html {
  box-sizing: border-box;

}

.header {
  background-color: #171717;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}